.actionButton {
    width: 100px !important;
}

.newButtonPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.backButtonPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}
